homepage.html
    <a class = "home-page__text" href = "./highscores.html">High Scores</a>

endpage.html
    <form class="save-score">
        <h2>Enter your name to save your score!</h2>
        <input type="text" name = "name" id="userName" placeholder="Enter name">
        <button class = "button" id = "save-score__button" type="submit" onclick="saveScore(event)" disabled>Save</button>
    </form>

    <a class = "game-option" href = "./highscores.html">High Scores</a>

unused or incorrect code for checking if selected choice is correct/incorrect

    // acceptAnswers = false;
    // const selectedChoice = e.target.value;
    // const selectedAnswer = selectedChoice;
    // //accept selected choice and check if correct/incorrect
    // let classToApply = selectedAnswer == currentQuestion.answer ? "correct" : "incorrect";

    // if (classToApply === "correct") {
    //   increaseScore(pointScore);
    // }

    // //add class: classToApply to selected choice
    // selectedChoice.classList.add(classToApply)

    // setTimeout(()=>{getNextQuestion()},3000)

    //remove classToApply after few seconds -use setTimeout()?
    // setTimeout(()=>{
    //   selectedChoice.classList.remove(classToApply)
    //   getNextQuestion()
    // },2000)

unused css

    // .progress-score {
//   color: $color-secondary;
//   font-size: 120%;

//   display: grid;
//   grid-template-columns: 3fr 1fr;
//   grid-template-rows: 1fr 1fr;
//   .progress {
//     &__text {
//       grid-column-start: 1;
//       grid-column-end: 2;
//       grid-row-start: 1;
//       grid-row-end: 2;
//     }
//     &__bar {
//       border: 2px solid $color-secondary;
//       grid-column-start: 1;
//       grid-column-end: 2;
//       grid-row-start: 2;
//       grid-row-end: 3;
//     }
//   }
//   .score {
//     &__text {
//         grid-column-start: 2;
//         grid-column-end: 3;
//         grid-row-start: 1;
//         grid-row-end: 2;
//     }
//     &__total {
//         grid-column-start: 2;
//         grid-column-end: 3;
//         grid-row-start: 2;
//         grid-row-end: 3;
//     }
//   }
// }