@import url("https://fonts.googleapis.com/css2?family=Itim&family=Righteous&display=swap");
* {
  margin: 0;
  padding: 0.5rem;
  font-family: "Righteous", cursive;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-page__title {
  color: #FEF9A8;
  font-size: 500%;
  text-align: center;
  margin-top: 5rem;
}
.home-page__text {
  text-align: center;
  margin-top: 5rem;
  border: 10px solid #C68AFE;
  border-radius: 1rem;
  height: 5rem;
  width: 80%;
  background-color: #6BBBFF;
  color: #22045C;
  font-size: 200%;
}

body {
  background-color: #22045C;
}

header {
  color: #FEF9A8;
  text-align: center;
  font-size: 150%;
  display: flex;
  justify-content: space-between;
}
header .home-icon {
  height: 1.5rem;
  justify-content: end;
}

.progress-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.progress-score .progress__text {
  color: #FEF9A8;
  font-size: 120%;
}
.progress-score .progress__bar {
  height: 0.5rem;
  width: 12rem;
  border: 3.5px solid #FEF9A8;
  border-radius: 20px;
}
.progress-score .score__text {
  color: #FEF9A8;
  font-size: 120%;
}
.progress-score .score__total {
  color: #FEF9A8;
  text-align: center;
  font-size: 120%;
}

.question__text {
  height: 9rem;
  width: auto;
  border: 5px solid #FEF9A8;
  border-radius: 1.5rem;
  background-color: #C68AFE;
  color: #22045C;
  text-align: center;
  font-size: 200%;
}
.question__choices {
  padding: 0;
  margin-top: 1rem;
  height: 15rem;
  color: #22045C;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.question__choices--option {
  height: 1.5rem;
  width: auto;
  background-color: #6BBBFF;
  border: 3.5px solid #FEF9A8;
  border-radius: 1rem;
  text-align: center;
  font-size: 125%;
}
.question__choices :hover {
  background-color: #6B7DFF;
}

.correct {
  background-color: #2BA84A;
}

.incorrect {
  background-color: #E65F5C;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header h1 {
    font-size: 250%;
  }

  .progress-score {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
  }
  .progress-score .progress__text {
    font-size: 175%;
  }
  .progress-score .progress__bar {
    height: 1rem;
    width: 25rem;
    border: 5px solid #FEF9A8;
    border-radius: 20px;
  }
  .progress-score .score__text {
    font-size: 175%;
  }
  .progress-score .score__total {
    font-size: 150%;
  }

  .question__text {
    height: 10rem;
    width: auto;
    border: 10px solid #FEF9A8;
    border-radius: 1.5rem;
    font-size: 250%;
    margin-bottom: 2rem;
  }
  .question__choices {
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .question__choices--option {
    flex-basis: 45%;
    height: 6rem;
    width: auto;
    border: 6px solid #FEF9A8;
    border-radius: 1rem;
    font-size: 175%;
  }
}